.navbar {
    padding: 0;
}
html, body {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
* {
    outline: none;
}
ul {
    list-style: none;
    padding: 0;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.upper {
    text-transform: uppercase;
}
.bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
a, a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}
a.link {
    text-decoration: underline;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.nav {
    position: fixed;
    z-index: 997;
    max-width: 280px;
    top: 50px;
    right: 50px;
    cursor: pointer;
}
/* Section 1*/
.section-1 {
    background: url(../img/bg-1.gif) center center;
    background-size: cover;
}
.logo-container {
    position: absolute;
    z-index: 999;
    max-width: 180px;
    top: 30px;
}
.book-container {
    
}
.book-container img {
    margin: auto;
    max-height: 85vh;
    position: relative;
    z-index: 10;
}
.footer-1 {
    background-color: #373736;
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 9;
}
.footer-1 .download-1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 10px;
}
.footer-1 .download-1 p {
    background: url(../img/ico-download.png) left top no-repeat;
    padding-left: 32px;
    width: 190px;
    text-align: center;
    margin: auto;
    background-size: contain;
}
.footer-1 ul {
    padding: 0;
    text-align: center;
    padding-top: 10px;
}
.footer-1 li {
    display: inline-block;
    margin-left: 7px;
}
.footer-1 li img {
    max-height: 28px;
}
.scroll-down {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
.scroll-down img {
    margin: 0 auto;
}


/* Section 2*/
.section-2 {
    /*background: url(../img/bg-2.png) top center no-repeat #f7a600;*/
    background: #ffffff;
}
.section-2 h1 {
    color: #000000;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    max-width: 650px;
    margin: -30px auto 20px;
}
.section-2 .grafico {
    max-width: 1070px;
    text-align: center;
    margin: auto;
}
.section-2 .grafico img {
    max-height: 78vh;
    margin: auto;
}
.download-2 {
    background: #373736;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.download-2 p {
    background: url(../img/ico-download.png) left top no-repeat;
    padding-left: 32px;
    width: 190px;
    text-align: center;
    margin: auto;
    background-size: contain;
}


/* Section 3*/
.section-3 {
    background: url(../img/bg-3.png) top center no-repeat #ef7d00;
}
.section-3 h1 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    width: 100%;
    padding: 0 20%;
    top: 10px;
    margin: 20px auto 20px;
}
.section-3 .grafico {
    max-width: 1070px;
    text-align: center;
    margin: auto;
}
.download-3 {
    background: #ffffff;
    color: #ef7d00;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.download-3 p {
    background: url(../img/ico-download-3.png) left top no-repeat;
    padding-left: 32px;
    width: 190px;
    text-align: center;
    margin: auto;
    background-size: contain;
}

/* Section 4*/
.section-4 {
    background: url(../img/bg-4.png) top center no-repeat #8b5ba7;
}
.section-4 h1 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    width: 100%;
    padding: 0 30%;
    top: 0px;
    margin: 20px auto 20px;
}
.section-4 .grafico {
    max-width: 1070px;
    text-align: center;
    margin: auto;
}
.section-4 .grafico img {
    max-height: 65vh;
    margin: auto;
}
.download-4 {
    background: #ffffff;
    color: #7f5ca3;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    bottom: 60px;
}
.download-4 p {
    background: url(../img/ico-download-4.png) left top no-repeat;
    padding-left: 32px;
    width: 190px;
    text-align: center;
    margin: auto;
    background-size: contain;
}

/* FOOTER */
.footer {
    position: absolute;
    background: #373736;
    height: 60px;
    width: 100%;
    bottom: 0;
}

.footer ul {
    padding: 0;
    text-align: right;
    padding-top: 17px;
}
.footer li {
    display: inline-block;
    margin-left: 7px;
}
.footer li img {
    max-height: 28px;
}
.footer .copy {
    color: #ffffff;
    text-align: center;
    padding-top: 23px;
    font-size: 11px;
}
.footer .footer-logo {
    padding: 10px 0;
}
.footer .footer-logo img {
    max-height: 44px;
}

@media (max-width: 767px){
    .book-container {
        padding-top: 100px;
    }
    .book-container img {
        max-height: 50vh;
    }
    .section-2 h1 {
        position: relative;
        top: 0;
        margin-top: 30px;
        width: 100%;
        max-width: 100%;
    }
    .section-2 .grafico {
        padding: 0 0 15vh;
    }
    .section-2 .grafico img {
        max-height: 100%;
        max-width: 440px;
        width: 100%;
    }
    .section-3 .grafico {
        padding: 0 0 7vh;
    }
    .section-3 .grafico img {
        max-width: 440px;
        margin: auto;
        width: 100%;
    }
    .section-3 h1 {
        position: relative;
        padding: 20px 10%;
    }
    .section-4 h1 {
        position: relative;
        padding: 30px 10%;
    }
    .section-4 .grafico {
        padding: 0;
    }
    .section-4 .grafico img {
        max-height: 100%;
        max-width: 440px;
        width: 100%;
    }

    .footer div {
        background: #373736;
    }
    .footer .footer-logo {
        padding: 10px 0 0;
    }
     .footer .footer-logo img {
        margin: auto;
    }
   
    .footer .copy {
        padding-top: 13px;
    }
    .footer ul {
        text-align: center;
        padding-top: 0px;
    }
}

@media (max-width: 767px){
    .section-1 {
        background: url(../img/bg-1-m.gif) center center;
        background-size: cover;
        position: relative;
    }
    .footer-1, 
    .scroll-down,
    .download-2,
    .download-3,
    .download-4,
    .footer {
        position: relative;
        bottom: 0;
    }
    .section-3 h1,
    .section-4 h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (max-width: 360px){
    
    .logo-container {
        position: relative;
        top: 20px;
        margin-bottom: 20px;
    }
    .fp-tableCell {
        vertical-align: top;
        display: block;
    }
    .book-container img {
        max-height: 56vh;
    }
    .footer-1 .download-1 {
        font-size: 16px;
        padding-top: 10px;
    }
    .footer-1 .download-1 p {
        padding-left: 28px;
        width: auto;
        text-align: left;
    }
    .footer-1 li img {
        max-height: 21px;
    }
    .section-2 h1,
    .section-3 h1,
    .section-4 h1 {
        font-size: 17px;
        position: relative;
    }
     .footer li img {
        max-height: 21px;
    }
   
}